@import url(//fonts.googleapis.com/css?family=Lato:300:400);

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgb(255, 0, 0) 0%,
    rgba(248, 0, 0, 0.603) 100%
  );
  color: white;
}

.logo {
  width: 150px;
  fill: white;
  padding-right: 25px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 25vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

h2 {
  margin-top: 85px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 35px;
  text-align: center;
  color: rgb(255, 0, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: "Open Sans", sans-serif;
}

main{
  margin: 0px 20px;
}

table {
  border: 1px solid #eee;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
}

table thead th {
  padding: 10px;
  font-size: 1em;
  color: #000;
  font-weight: 600;
}

table tbody tr td {
  display: table-cell;
  font-weight: 400;
  padding: 10px;
  text-align: left;
  position: relative;
}

table tbody tr {
  border: none;
  display: table-row;
}

table tbody tr:nth-child(odd) {
  background: #f2f2f2;
}

table tbody tr td button {
  display: inline-block;
  padding: 10px 15px;
  position: initial;
  transform: translate(0);
  width: auto;
}

table tbody tr td button {
  background: #4caf50;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
  color: #fff;
  font-weight: 700;
  padding: 10px 10px;
  width: 100%;
}

.recusar {
  background: red;
}

table thead {
  display: table-header-group;
  font-weight: 500;
}

table tbody tr td:before {
  display: none;
}

table tbody tr td button:hover,
table tbody tr td button:focus {
  background: #a795fe;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  table tbody tr td {
    display: block;
    text-align: right;
  }

  table tbody tr td:before {
    content: attr(data-title);
    position: absolute;
    left: 15px;
    display: block;
    font-weight: 600;
    font-size: 1em;
  }

  table {
    border: none;
  }

  table thead {
    display: none;
  }

  table tbody tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #dad6eb;
  }
}
